.ProductList {
  display: flex;
  justify-content: space-around;
}

.ProductList .Product {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}
.ProductList .Product img {
  border-radius: 1rem;
  border: 3px solid black;
  width: 100%;
}
.product.name {
  
}