.ProductList {
  display: flex;
  justify-content: space-around;
}

.ProductList .Product {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.ProductList .Product img {
  border-radius: 1rem;
  border: 3px solid black;
  width: 12rem;
  height: 14rem;
  
}
.ProductList .Product a {
  text-align: center;
  color: white;
  text-decoration: none;
  font-weight: 600;
}
.ProductList .Product span {
  text-align: center;
  color: rgb(8, 236, 8);
}

