.CartList .CartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.CartList .CartItem img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
