.CartList .CartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.CartList .CartItem img {
  border: 2px solid white;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.CartList .CartItem a {
  text-decoration: none;
  color: white;
}

.CartList .CartItem input{
  height: 40px;
  width: 40px;
  border-radius: 10px;
  border: none;
}

.CartList .CartItem button {
  background-color: rgb(47, 45, 45);
  color: white;
  border: none;
}

.CartList .CartItem button:hover{
  color: rgb(170, 7, 7);
  transition: 0.3s;
}

