.CartList .CartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.CartList .CartItem img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.CartList .CartItem button {
  background-color: rgb(47, 45, 45);
  color: white;
  border: 2px solid ;
  border-radius: 10px;
  width: 40px;
  height: 40px;
}

.CartList .CartItem button:hover{
  color: rgb(170, 7, 7);
}

