.AddToCart button {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid white;
  border-radius: 10px;
  padding: 1rem 5rem;
  background-color: rgb(47, 45, 45);
  color: white;
  font-family: "Poppins", sans-serif;
  transition: 0.3s;
}
.AddToCart button:hover {
  color: rgb(47, 45, 45);
  background-color: white;
  transition: 0.3s;
}
