.Layout {
  /* display: grid;
  grid-template-areas: "header header"
                       "aside main"
                       "footer footer";
  grid-template-columns: 1fr 3fr; */
  
  max-width: 1340px;
  margin: 0 auto;
} 
.Layout header {
  display: flex;
  grid-area: header;
}
.Layout aside {
  grid-area: aside;
}
.Layout main {
  grid-area: main;
}
.Layout footer {
  grid-area: footer;
}

.logo{
  display: flex;
}