.Home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  box-shadow: 0 0 10px 5px black;
}

.content {
  flex: 1;
  text-align: center;
  padding: 20px;
}

.content h3 {
  font-size: 50px;
  padding: 10px;
}

.content p {
  font-size: 30px;
  padding: 20px;
}

.home-btn {
  padding: 15px 25px;
  background: rgb(47, 45, 45);
  color: white;
  font-size: 15px;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px black;
  border: 2px solid;
  font-weight: bold;
  margin-top: 20px;
}

.home-btn:hover {
  background-color: white;
  border: 2px solid rgb(47, 45, 45);
  color: rgb(47, 45, 45);
  transition: 0.3s;
}

.video {
  flex: 1;
  text-align: center;
  padding: 20px;
}

.video iframe {
  max-width: 100%;
  height: auto;
}
