.container{
  padding: 1.5rem;
  display: flex;
}
.logo{
  display: flex;
  align-items: center;
  flex: 1;
}
.logo>img{
  width: 5.5rem;
  height: 6rem;
}
.logo>span{
  font-weight: 700;
}
.right {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.menu{
  display:flex;
  gap: 2rem;
  font-weight: 500;
  list-style: none;
}
.menu>li:hover{
  color:rgb(244, 117, 58);
  cursor: pointer;
}
.cart{
  display:flex;
  gap: 2rem;
}
.cart{
  width: 1.2rem;
  height: 1.2rem;
}
.search{
  width: 7rem;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  
}