footer {
  background-color: white;
  color: rgb(47, 45, 45);
  padding: 50px 0;
  
}
footer div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer div.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer div.col-md-3 {
  width: 20%;
  margin: 20px;
}
footer h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer ul li {
  margin-bottom: 10px;
}

footer a {
  color: rgb(47, 45, 45);
  text-decoration: none;
}
footer a:hover {
  color: dimgray;
  transition: 0.3s;
}
footer p {
  margin: 0;
  line-height: 1.5;
}
footer .social-media {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
footer .social-media li {
  margin-right: 10px;
}

footer .social-media li:last-child {
  margin-right: 0;
}

footer .social-media i {
  color: rgb(47, 45, 45);
  font-size: 30px;
}
footer .social-media i:hover{
  color: dimgray;
  transition: 0.3s;
}

@media only screen and (max-width: 768px) {
  footer div.col-md-3 {
    width: 50%;
    margin: 20px 0;
  }
  footer h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  footer ul li {
    margin-bottom: 5px;
  }

  footer ul li a {
    font-size: 14px;
  }

  footer p {
    font-size: 14px;
  }

  footer .social-media {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
  }

  footer .social-media li {
    margin-right: 5px;
  }

  footer .social-media i {
    font-size: 25px;
  }
}
@media only screen and (max-width: 480px) {
  footer div.col-md-3 {
    width: 100%;
    margin: 20px 0;
  }
  footer h3 {
    font-size: 14px;
    margin-bottom: 10px;
  }

  footer ul li {
    margin-bottom: 5px;
  }

  footer ul li a {
    font-size: 12px;
  }

  footer p {
    font-size: 12px;
  }

  footer .social-media {
    margin-top: 10px;
  }

  footer .social-media li {
    margin-right: 5px;
  }

  footer .social-media i {
    font-size: 14px;
  }
  footer{
    text-align: center;
  }
}
