.CategoryList ul {
  display: flex;
  padding: 0;
}

.CategoryList li {
  font-size: 17px;
  list-style: none;
  padding: 2rem 1rem;
}

.CategoryList li a {
  cursor: pointer;
  font-weight: 500;
  border: 1px solid white; 
  border-radius: 10px;
  padding: 1rem 6rem; 
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.CategoryList li a:hover {
  transition: 0.3s;
  color: rgb(47, 45, 45);
  background-color: white;
}

@media (max-width: 1200px) {
  .CategoryList li {
    font-size: 17px;
    padding: 2rem 1rem;
  }

  .CategoryList li a {
    padding: 1rem 4rem; 
    font-size: 14px;
  }
}

@media (max-width: 980px) {
  .CategoryList li {
    font-size: 14px;
    padding: 2rem 1rem;
  }

  .CategoryList li a {
    padding: 1rem 3rem; 
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .CategoryList li {
    padding: 10px;
  }

  .CategoryList li a {
    padding: 10px 12px;
    font-size: 14px;
  }
}