.CategoryList ul {
  display: flex;
  flex-direction: column;
}

.CategoryList li {
  list-style: none;
}

.CategoryList li a {
  text-decoration: none;
  color: var(--color-link); 
}

.CategoryList li a:hover {
   color: var(--color-link-hover);
  background-color: rgb(223, 208, 208); 
}