.CategoryList ul {
  display: flex;
  flex-direction: column;
}

.CategoryList li {
  font-size: 17px;
  list-style: none;
  padding: 2rem 1rem;
}

.CategoryList li a {
  text-decoration: none;
  color: white; 
}

.CategoryList li a:hover {
   color: red;
}