  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Nerko+One&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,500;1,700&family=Poppins:wght@300;400;500;600;700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400&family=Sono&display=swap');



 
  body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: rgb(47, 45, 45);
    transition: all 3ms ease;
    color: white;
  }

  .Product img {
    justify-content: center;
    border: 2px solid white;
    border-radius: 10px;
  }

  .Product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .Product__image {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .Product__price {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }

  .delivery-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .delivery-heading {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .delivery-text {
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .delivery-info {
    display: flex;
    justify-content: space-between;
  }
  
  .delivery-option {
    flex: 1;
    color: #333;
  }
  
  .delivery-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
  }
  
  .delivery-option-heading {
    font-size: 18px;
    color: #333;
    margin-bottom: 8px;
  }
  
  .delivery-option-text {
    color: #666;
    line-height: 1.3;
  }

  @media screen and (max-width: 768px) {
    .delivery-container {
      padding: 10px;
    }
  
    .delivery-info {
      flex-direction: column;
    }
  
    .delivery-option {
      margin-bottom: 20px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .delivery-heading {
      font-size: 20px;
    }
  
    .delivery-icon {
      width: 40px;
      height: 40px;
    }
  
    .delivery-option-heading {
      font-size: 16px;
    }
  }
  .contact-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .contact-heading {
    color: #333;
    text-align: center;
  }
  
  .contact-info {
    color: #666;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  

  .contact-item svg {
    color: black;
    font-size: 18px;
    margin-right: 10px;
  }
  
  .contact-text {
    color: #333;
  }
  
  .contact-subheading {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
  }
  
  .contact-hours {
    color: #666;
    text-align: center;
  }

  .contact-item a {
    color: #333;
    text-decoration: none;
  }
  .contact-item a:hover{
    color: dimgray;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .contact-details {
      flex-direction: column;
    }
  
    .contact-item {
      margin-bottom: 20px;
    }
  }
  .about-us-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .about-us-heading {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .about-us-description,
  .about-us-mission,
  .about-us-values,
  .about-us-visit {
    color: #666;
    margin-bottom: 10px;
  }
  
  .about-us-visit {
    font-weight: bold;
  }

  .Home .Home-container {
    padding: 20px;
    color: #333;
    background-color: white;
  }

  .Home .btn-home {
    padding: 20px 40px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: white;
    font-size: 20px;
    font-weight: 600;
  }

  
  .Home .btn-home .link-home {
    text-decoration: none;
    color: #333;
  }

  .Home .home-text {
    text-align: center;
  }

  .home-text h3  {
     font-size: 40px;
  }

  .home-text p {
    font-size: 25px;
  }

  .Home .video iframe {
    border-radius: 10px;
    height: 400px;
  } 

  @media screen and (max-width: 768px) {
    .Home .video iframe {
      height: 100;
    }
  }

  
  