  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Nerko+One&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,500;1,700&family=Poppins:wght@300;400;500;600;700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400&family=Sono&display=swap');



 
  body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: rgb(47, 45, 45);
    transition: all 3ms ease;
    color: white;
  }

  .Product img {
    justify-content: center;
    border: 2px solid white;
    border-radius: 10px;
  }

  .About{
    background-color: white;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover; 
    box-shadow: 0 0 10px 5px black;
  }
  .Contact{
    color: black;
    display: flex;
    background-color: white;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover; 
    box-shadow: 0 0 10px 5px black;
  }

  .Contact .map {
    padding: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .Contact iframe {
    width: 550px;
    height: 350px;
    box-shadow: 0 0 5px 1px black;
    border-radius: 10px;
  }
  .Home{
    color: black;
    display: flex;
    background-color: white;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover; 
    box-shadow: 0 0 10px 5px black;
  }
  .Home .video {
    padding: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .Home iframe {
    width: 600px;
    height: 400px;
    box-shadow: 0 0 5px 1px black;
    border-radius: 10px;
  }
  .Home h3 {
    font-size: 50px;
    padding: 10px;
  }
  .Home p {
    font-size: 30px;
    padding: 20px;
  }
  .Home .home-btn {
    padding: 15px 25px;
    background: rgb(47, 45, 45);
    color: white;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px black;
    border: 2px solid;
    font-weight: bold;
    display:  flex;
    margin-left: 20px;
  }
  .home-btn:hover{
    background-color: white;
    border: 2px solid rgb(47, 45, 45);
    color: rgb(47, 45, 45)  ;
    transition: 0.3s;
  }
  
  .About{
    display: flex;
    background-color: white;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover; 
    box-shadow: 0 0 10px 5px black;
    color: black;
  }
  .Deliver{
    background-color: white;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover; 
    box-shadow: 0 0 10px 5px black;
  }
 