.Nav{
  padding: 1.5rem;
  display: flex;
}
.Nav .NavItem a {
  color: #000;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 20px;
}

.Nav .NavItem a:hover {
  color: #fff;
  background-color: rgb(125, 122, 122);
  cursor: pointer;
  list-style: none;
  border-bottom: 1px solid rgb(125, 122, 122);
  text-decoration: none;
  border-radius: 10px;
}

.Nav ul {
  display: flex;
  list-style: none;
}

.Nav .NavLink {

}