.Nav{
  width: 60%;
  padding: 1.5rem;
  display: flex;
}
.Nav .NavItem a {
  color: white;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 20px;
}

.Nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


@media (max-width: 550px) {
  .Nav ul {
    flex-direction: column;
    margin: 1rem 0;
  }
}

.Nav .NavItem a {
  color: white;
  display: inline-block;
  line-height: 1;
  text-decoration: none; 
}
.NavItem a:after {
  background-color: white;
  display: block;
  content: "";
  height: 2px; 
  width: 0%;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.NavItem a:hover:after,
  .NavItem a:focus:after {
    width: 100%;
  }