.Auth button {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px white solid;
  background-color: rgb(47, 45, 45);
  color: white;
  transition: 0.3s;
}
.Auth button:hover {
  background-color: white;
  color: rgb(47, 45, 45);
  transition: 0.3s;
}
.Auth .photoURL {
  margin: 10px;
  border-radius: 100%;
  width: 30px;
}
.Auth span {
  display: flex;
  align-items: center;
}
